<%= render "shared/panel" %>

<div data-role="header" data-id="header" data-position="fixed" data-tap-toggle="false">
  <a href="#panel" data-role="button" data-icon="grid">Menu</a>
  <h1>JobSite</h1>
</div><!-- /header -->

<div data-role="content">
  <p><strong>Searched for:</strong> <%= @title %></p>
  <ul data-role="listview" id="ul_jobs">
    <% @jobs.each do |j| %>
    <li>
      <a href="/companies/<%= j.company.id %>/jobs/<%= j.id %>">
	<h3><%= j.title %></h3>
	<p><strong><%= j.company.name %></strong> - <%= j.city %>, <%= j.state_code %></p>
      </a>
    </li>
    <% end %>
    <li id="li_loadmore"><a href="">Load more<img class="ui-li-icon" id="gif_loading" src="http://www.localgastropub.com/images/small_loading.gif" /></a></li>
  </ul>
  <br><br>
</div>
<input type="hidden" id="page" name="page" value="<%= @page %>" />
<script>
  $(document).ready(function() {
    $('#gif_loading').hide();

    if (localStorage.getItem('page_offset') != null) {
      $.mobile.silentScroll(localStorage.getItem('page_offset'));
    }

    $('#li_loadmore').click(function() {
      $('#gif_loading').show();
      $.ajax({
        url: '/api/v1/companies/jobs/search',
        data: { page: parseInt($('#page').val()) + 1 },
        success: function(data) {
          for (var i = 0; i < data.length; i++) {
            $('#li_loadmore').before('<li><a href="/companies/' + data[i].company_id + '/jobs/' + data[i].id + '"><h3>' + data[i].title + '</h3></a></li>');
          }
          $('#page').val(parseInt($('#page').val()) + 1);
          $('#ul_jobs').listview('refresh');
          $('#gif_loading').hide();
        },
        error: function() {
          alert('fail');
        }
      });
    });

    $('#ul_jobs li').on('click', function() {
      localStorage.setItem('page_offset', $(this).offset().top);
    });
  });
</script>
