

<div data-role="header" data-id="header" data-position="fixed" data-tap-toggle="false">
  <a href="" data-role="button" data-icon="back" data-transition="slide" data-rel="back" data-direction="reverse">Back</a>
  <h1>JobSite</h1>
  <% show_save = true %>
  <% current_user.jobs.each do |j| %>
    <% if j.id == @job.id %>
    <% show_save = false %>
    <% break %>
    <% end %>
  <% end %>
  <% if show_save %>
  <% end %>
</div><!-- /header -->

<div data-role="content">
  <h3><%= @job.title %></h3>
  <h3><%= @job.company.name %> - <%= @job.city %>, <%= @job.state_code %></h3>

  <div data-role="collapsible">
    <h3>Description</h3>
    <p><%= @job.body_mobile %></p><!--.html_safe -->
  </div>

  <div data-role="controlgroup" data-type="horizontal" >
    <a href="<%= @job.apply_url %>" data-role="button" data-icon="check">Apply</a>
    <a href="" id="save" data-role="button" data-icon="star">Save</a>
    <a href="" data-role="button" data-icon="info">Email</a>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#save').click(function() {
      <% if user_signed_in? %>
        $.ajax({
          url: "/users/<%= current_user.id %>/save_job/<%= @job.id %>",
          timeout: 5000,
          success: function() {
           $('#save').text('Saved');
      $('#save').button('refresh');
           alert('Job has been saved');
          },
          error: function() {
            alert('Error saving job. Please try again later.');
          }
        });
      <% else %>
        alert('Please log in to save this job.');
      <% end %>
    });
  });
</script>
