<!DOCTYPE html>
<html>
<head>
  <title>Moto-Now</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <%= csrf_meta_tags %>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

</head>
<body>
<div data-role="page" id="<%= params[:controller] %>-<%= params[:action] %>" data-cache="never" data-url="<%= request.path %>">
  <%= yield %>
</div><!-- /page -->
</body>
</html>
